#ָ公共配置
spring:
  application:
    name: app
  datasource:
    hikari:
      #线程池最大数量
      maximum-pool-size: 25
      #生命周期 25分钟
      max-lifetime: 150000
      #连接池名称
      pool-name: app-db-pool
  profiles:
    active: dev
server:
  port: 8080